{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="content-section">
    {{ form.media }} 
    <form method="POST">
        <fieldset>
            <legend class="border-bottom pb-2 mb-4 text-center">Register Form</legend>
            {% csrf_token %}
            <!-- <div class="form-group">
                <label>{{form.username.label}}</label><br>
                {{form.username}}<br>
                <label>{{form.first_name.label}}</label><br>
                {{form.first_name}}<br>
                <label>{{form.last_name.label}}</label><br>
                {{form.last_name}}<br>
                <label>{{form.aadhar.label}}</label><br>
                {{form.aadhar}}<br>
                <label>{{form.phone_number.label}}</label><br>
                {{form.phone_number}}
                <label>{{form.adress.label}}</label><br>
                {{form.adress}}<br>
                <label>{{form.state.label}}</label><br>
                {{form.state}}<br>
                <label>{{form.password1.label}}</label><br>
                {{form.password1}}<br>
                <label>{{form.password2.label}}</label><br>
                {{form.password2}}<br>
            </div> -->
            {{form.as_p}}
            <div class="form-group pt-4">
                <button class="btn btn-outline-success" type="submit">Register</button>
            </div>
            <br>
            <p> Already have an account? <a href = "{% url 'login' %}">Login Here</a> </p>
      </fieldset>
    </form>
</div>
{% endblock content %}