.App-header img {
  width: 100vw;
}
.heading {
  position: absolute;
  top: 1px;
  left: 3vmin;
}
.heading h1 {
  font-size: 20vmin;
  color: rgba(35, 2, 2, 0.74);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 1vmin;
}
.SubHeading {
  position: absolute;
  margin-top: 0.5vmin;
  font-size: 8vmin;
  font-weight: bolder;
  color: bisque;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_intro img {
  height: 70vmin;
}
.intro_cont {
  margin-right: 2vmin;
  font-size: 4vmin;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(33, 3, 3);
  padding: 3vmin;
  background-color: antiquewhite;
  border-radius: 10%;
}
.movingtext {
  position: relative;
  display: block;
  width: 100vw;
  top: 5vmin;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 20vh;
  margin-top: 5vh;
}
.write {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  margin-top: 2vmin;
}
.write span {
  display: inline-block;
  padding-left: 100%;
  font-family: cursive;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;

  /* line-height: 140px; */
  font-size: 8vmin;
  animation: marquee 25s linear infinite;
  /* photo behind text */
  color: #1f1e17;
  /* background-image: url(./assets/text_behind.jpg);
    -webkit-background-clip: text;  */
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(32, 10, 10);
  background-size: contain;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.marquee2 span {
  animation-delay: 12.5s;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.write span {
  transition: 0.5s;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.f {
  height: 60vmin;
  width: 40vmin;
  background-color: beige;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vmin;
}
.fe {
  margin-top: 4vmin;
}
.co {
  height: 45%;
  width: 90%;
  background-size: cover;
  margin-top: 2vmin;
  border: 2px solid rgb(28, 3, 3);
}
.con {
  height: 54%;
  margin-bottom: 0;
}
.f_img1 {
  background-image: url("./assets/inventory.png");
}
.f_img2 {
  background-image: url("./assets/marketplace.jpg");
}
.f_img3 {
  background-image: url("./assets/chatbott.avif");
}
.f_img4 {
  background-image: url("./assets/weather_for.jpg");
}
.f_img5 {
  background-image: url("./assets/plant_disease.jpg");
}
.f:hover {
  transform: scale(0.95);
}
.f h3 {
  font-size: 3.5vmin;
  padding: 1vmin;
  margin-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.f p {
  padding: 1vmin;
  font-size: 3vmin;
  margin-top: 0;
}
.linkk {
  text-decoration: none;
  color: #ebe7c9;
  margin-top: 0;
  margin-bottom: 0.2vmin;
  font-size: 3vmin;
  background-color: rgb(67, 5, 5);
}
.but {
  background-color: rgb(19, 11, 2);
  margin-bottom: 1vmin;
}
.but a{
  text-decoration: none;
  color:bisque;
  margin-top:0;
  font-size:3vmin
}
.con p{
  margin-bottom: 0;
}
.footer {
  background-image: url("./assets/footer.jpg");
  width: 100vw;
  height: 79vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer_content {
  height: 25vmin;
  width: 100vw;
  background-color: #1f1e17;
  display: flex;
  justify-content: space-between;
  color: beige;
}
.fconn h2 {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}
.fconn {
  color: beige;
  font-size: 3vmin;
  margin-left: 2vmin;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.fconn a {
  text-decoration: none;
  color: beige;
}
.footer_content img {
  height: 60%;
  margin-right: 10vmin;
}
